@font-face {
  font-family: 'PingFang';
  src: url('./font/PingFang.ttf');
}
$body-font-family: 'Quicksand','PingFang',sans-serif;
$heading-font-family: 'Quicksand','PingFang',sans-serif;

@import "~vuetify/src/styles/main";
