::-webkit-scrollbar
  background-color: transparent
  width: 6px
  height: 3px
  background-clip: padding-box

::-webkit-scrollbar-button
  height: 0

::-webkit-scrollbar-thumb
  background-color: #c1c1c1
  border-radius: 3px

::-webkit-scrollbar-corner
  background-color: transparent

.vertical-align-middle
  vertical-align: middle
