.v-application code, .v-application kbd
  font-weight: 100

.v-md-editor
  background-color: inherit !important

.theme--light
  .vuepress-markdown-body
    color: #2c3e50 !important

  .v-md-editor__toolbar-divider:before
    border-left: 1px solid #ddd

  .v-md-editor__toolbar-item--active, .v-md-editor__toolbar-item--active:hover
    background: #e8e8e8

  .v-md-editor__toolbar-item
    color: #595959

  .CodeMirror
    background-color: #ffffff

  .CodeMirror-gutters
    background-color: #f7f7f7

  .v-md-editor .codemirror-wrapper.codemirror-reset .cm-comment, .v-md-editor .codemirror-wrapper.codemirror-reset .cm-link, .v-md-editor .codemirror-wrapper.codemirror-reset .cm-quote, .v-md-editor .codemirror-wrapper.codemirror-reset .cm-variable-2:not(.cm-url)
    font-weight: 100
    font-size: 13px
    color: #2c3e50

  .CodeMirror-activeline-background
    background: #e8f2ff

  .v-md-editor__left-area-title
    font-size: 13px

  .v-md-editor__toc-nav-title
    font-size: 13px

.theme--dark
  .vuepress-markdown-body
    color: #dddddd !important

  .v-md-editor__toolbar-divider:before
    border-left: 1px solid hsla(0, 0%, 100%, .12)

  .v-md-editor__toolbar-item--active, .v-md-editor__toolbar-item--active:hover
    background: #707070

  .v-md-editor__toolbar-item
    color: #f9f9f9

  .v-md-editor__toolbar-item:hover
    background: #333333

  .CodeMirror
    background-color: #1e1e1e

  .CodeMirror-gutters
    background-color: #1e1e1e

  .v-md-editor .codemirror-wrapper.codemirror-reset .cm-comment, .v-md-editor .codemirror-wrapper.codemirror-reset .cm-link, .v-md-editor .codemirror-wrapper.codemirror-reset .cm-quote, .v-md-editor .codemirror-wrapper.codemirror-reset .cm-variable-2:not(.cm-url)
    font-weight: 100
    font-size: 13px
    color: #ffffff

  .CodeMirror-activeline-background
    background: #333333

  .vuepress-markdown-body h2
    border-bottom: 1px solid hsla(0, 0%, 100%, .12)

  .directory li a.text--disabled
    color: #e5e5e5 !important

  .v-md-editor__left-area-title
    font-size: 13px
    color: #ffffff

  .v-md-editor__toc-nav-title
    font-size: 13px
    color: #ffffff

.vuepress-markdown-body code
  font-weight: 100
  font-size: 13px !important

.vuepress-markdown-body div[class*=v-md-pre-wrapper-].line-numbers-mode pre
  padding-left: 3.5rem !important

.vuepress-markdown-body div[class*=v-md-pre-wrapper-].line-numbers-mode:after
  width: 2.5rem !important
  background-color: #151515 !important

.vuepress-markdown-body div[class*=v-md-pre-wrapper-].line-numbers-mode .line-numbers-wrapper
  width: 2.5rem !important
  color: #777 !important
  border-radius: 6px 0 0 6px !important

.vuepress-markdown-body
  div[class*=v-md-pre-wrapper-].line-numbers-mode pre
    padding-left: 2.5rem

  div[class*=v-md-pre-wrapper-]
    background-color: #151515 !important

.vuepress-markdown-body div[class*=v-md-pre-wrapper-].line-numbers-mode .line-numbers-wrapper .line-number
  font-weight: 100
  font-size: 12px !important

.v-md-editor-preview
  padding: 12px !important

  li
    font-size: .85rem
    margin-bottom: 5px

  li p
    font-size: .85rem
    margin-bottom: 5px

  h1
    margin-bottom: 15px

  h2, h3, h4, h5, h6
    margin: 15px 0

.directory
  ul
    list-style-type: none

    li.router-link-active
      border-left-color: currentColor
